@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #303030;
  margin-bottom: 15em;
  margin: 0 auto;
  max-width: 50em;
}

main {
  display: grid;
  grid-column-gap: 0.7em;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-gap: 3em;
}

header {
  margin-top: 5em;
  display: grid;
  grid-auto-rows: 34em;
  grid-template-rows: 3em;
}

footer {
  margin-top: 5em;
  text-align: center;
  margin-bottom: 5em;
}

#rdt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align:center;
}

#rdt h2{
  font-weight: 500;
}

#UMStudent p{
  font-size: 1.2em;
  font-weight: 500;
}

h1{
  font-weight: 600;
}

h2{
  font-weight: 600;
}

h3{
  font-size: 1.2em;
  font-weight: 500;
}
P{
  font-weight: 400;
  line-height: 1.5em;
}

img {
  width: 100%;
  height: auto;
}

ul, ol {
  font-weight: 400;
  line-height: 1.5em;
  margin:0px;
}

ul {
  list-style-type: circle;
}

header h1,
header h2,
header p {
  margin: 0;
}

header img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 600;
}
a:link {color:#3D2396;}
a:visited {color:#455EEF;}
a:hover {color:#616FDD;}